.navbar{
    display: flex;
    position: sticky;
    align-items: center;
    height: 50px;
    width: 90%;
    justify-content: space-between;
    padding-inline: 5%;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0;
    background-color: transparent;
    margin-block: 10px;
}

.logo-section {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 10px;
}

.logo-section .logo {
    aspect-ratio: 1;
    color: white;
    background-color: black;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1rem;
}

.navbar-links{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 2rem;
}

.navbar-links > div{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
}