.ProductPopUp{
    display: flex;
    position: relative;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 70%;
    height: 70%;
    background: white;
    transform: translate(-50%, -50%);
    z-index: 99;
    justify-content: center;
    align-items: flex-start;
}

.cross-mark{
    position: absolute;
    top: 1%;
    right: 0%;
    transform: translate(-100%, -10%);
}

.imageContainer{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 0.5rem;
}

.imageHolder{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.left-button{
    position: absolute;
    width: 15%;
    aspect-ratio: 1;
    background-color: black;
    border-radius: 50%;
    top: 50%;
    left: 0%;
    transform: translate(0%,-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    cursor: pointer;
}

.right-button {
    position: absolute;
    width: 15%;
    aspect-ratio: 1;
    background-color: black;
    border-radius: 50%;
    top: 50%;
    right: 0%;
    transform: translate(0%,-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    cursor: pointer;
}

.imageHolder > img{
    width: 100%;
    overflow: hidden;
}

.imageHolder:hover > .left-button {
    animation: appear-from-left 500ms cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

.imageHolder:hover > .right-button {
    animation: appear-from-right 500ms cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

@keyframes appear-from-left {
    to{
        transform: translate(50%, -50%);
        visibility: visible;
    }
}

@keyframes appear-from-right {
    to{
        transform: translate(-50%, -50%);
        visibility: visible;
    }
}

.infoContainer{
    width: 60%;
    height: 100%;
    overflow-y: scroll;
    display: flex;
    align-items: center;
    justify-content: center;
}